* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../Images/background.jpg')!important;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x:hidden
}

.container {
    background-color: white;
    border: 1px solid grey;
    width: 600px;
    height: auto;
    margin-top: 68px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header {
    background: rgb(255, 254, 254);
    flex: 0 0 auto;
    position: fixed;
    top: 0;
    width: 1920px;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 100px
}

.header-span {
    text-decoration: none;
    color:black
}

.header-spans {
    display: flex;
    gap: 20px;
}

.title {
    text-align: center;
    margin-top: 80px
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px
}

h1, h2, h3 {
    color: #333;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px
}

.content {
    max-width: auto;
    padding: 1rem;
    background: #fff;
    margin-bottom: 5px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}